@media only screen
and (min-device-width : 175px)
and (max-device-width : 867px) {

html, body {
  margin:0;
  padding: 0;
}
    body {
        background-color: white;
    }
#change h1 {
    font-size: 12.8vw;
    font-style: bold;
    text-align: center;
    line-height: 6.666666666666667vw;
    letter-spacing: 0.5333333333333333vw;
    font-family: 'Muli', sans-serif;
    color: #FAFAFB;
    z-index: 10;
  }
  .change1 {
    letter-spacing: 0.5333333333333333vw;
    z-index: 10;
  }
#change {
  margin-top: 16.8vw;
  position: relative;
  z-index: 10;
}
h2 {
  font-family: 'Muli', sans-serif;
  font-style: bold;
  line-height: 0px;
  text-align: center;
  font-size: 5.866666666666666vw;
  color: #FAFAFB;
}
#counscious, p {
  font-family: 'Muli', sans-serif;
  font-style: bold;
  line-height: 0px;
  text-align: center;
  font-size: 1.8666666666666667vw;
  letter-spacing: 16.67%;
  color: #FAFAFB;
  z-index: 10;
}
#counscious {
  border: 1px solid #F0F0F0;
  display: block;
  width: 42.13333333333333vw;
  height: 13.333333333333334vw;
  margin: 0 auto;
  z-index: 10;
  position: relative;
  margin-top: 23.2vw;
}
#container {
  display: block;
  max-width: 100vw;
  height: auto;
}
@-webkit-keyframes bounce {
            0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
            40% {-webkit-transform: translateY(7.466666666666667vw);}
         }
         @keyframes bounce {
            0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
            40% {transform: translateY(7.466666666666667vw);}
         }
.transparentoverlay {
  position: absolute;
  z-index: 2;
  top: -12vw;
  -webkit-animation-duration: 3.6s;
            animation-duration: 3.6s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
            animation-delay: 2s;
            animation-iteration-count: infinite;
}
.bounce {
            -webkit-animation-name: bounce;
            animation-name: bounce;
         }
.triangle1 {
  position: absolute;
  top: 0;
  margin-top: 40vw;
}
.dark {
z-index: 0;
}
.light {
  right: 0;
}
.modelphoto {
width: 100%;
height: 146.66666666666666vw;
left: 0;
background-image: url(../Images/Model.png);
background-repeat: no-repeat;
z-index: 29;
background-position: center;
background-size: cover;
max-width: 100vw;
margin-bottom: -16vw;
}
.imagetext h1 {
  position: absolute;
  top: 0;
  margin-top: 148vw;
  color: #3D2D38;
  line-height: 5.6vw;
  font-size: 4.533333333333333vw;
  text-align: left;
  width: 83.2vw;
  height: 16.8vw;
  margin-left: 16vw;
  font-family: 'Muli', sans-serif;
}
.smalldarktriangle {
  position: absolute;
  z-index: 30;
  margin-top: -0.13333vw;
}
.bottomdarksmalltriangle {
  position: absolute;
  bottom: 0;
}
.bottombar {
  position: absolute;
  bottom: 0;
}
.modelgradient {
  position: absolute;
}
.forest {
  position: absolute;
  width: 100vw;
  height: 131.2vw;
  top: 0;
  background-image: url(../Images/Forest.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 100vw;
}
.brownbackground {
  position: absolute;
  margin-top: 234.66666666666666vw;
  top: 0;
  width: 100vw;
}
.quote h1 {
position: absolute;
color: #E6E7E4;
z-index: 35;
text-align: left;
font-size: 25px;
line-height: 31px;
top: 0;
margin-top: 209px;
margin-left: 40px;
font-family: 'Muli', sans-serif;
height: 63px;
width: 278px;
}
.cycletext h1 {
  top: 0;
  position: absolute;
  color: #3D2D38;
  font-size: 19px;
  font-weight: bold;
  margin-left: 128px;
  width: 232px;
  height: 24px;
  margin-top: 626px;
  font-family: 'Muli', sans-serif;
}
.recyclingmachine1 {
  position: absolute;
  top: 0;
  margin-top: 1617px;
  margin-left: 18px;
  z-index: 12;
}
.Recyclingmachine h1 {
  position: absolute;
  top: 0;
  margin-top: 1827px;
  left: 0;
  margin-left: 117px;
  color: white;
  font-size: 16px;
  font-family: 'Muli', sans-serif;
  font-style: bold;
  line-height: 20px;
  text-align: left;
  display: block;
  margin-right: 23px;
  letter-spacing: 0;
  z-index: 12;
}
.plasticbottle {
  position: absolute;
  top: 0;
margin-top: 1899px;
margin-left: 20px;
z-index: 12;
}
.plastic {
  position: absolute;
  top: 0;
  margin-top: 1923px;
  margin-left: 98px;
z-index: 12;
}
.sewingthread {
  position: absolute;
  top: 0;
  margin-top: 1912px;
  margin-left: 188px;
  z-index: 12;
}
.section {
  height: 100vh;
}
.line {
position: absolute;
width: 167.38px;
height: 0px;
margin-left: 113.62px;
top: 0;
margin-top: 1334px;
border: 3px solid #000000;
}
.p03brown {
  position: absolute;
  top: 0;
}
.p03darktriangle {
  position: absolute;
  top: 0;
  z-index: 1;
}
.p03darkbottom {
  position: absolute;
  top: 0;
  margin-top: 506px;
  z-index: 1;
}
.p03bluebackground {
  position: absolute;
  top: 0;
  margin-top: 220px;
  left: 182px;
  z-index: 0;
}
.p03thrivelogo {
  position: absolute;
  top: 0;
  left: 11px;
  margin-top: 13px;
  z-index: 2;
}
.p03logotext {
  position: absolute;
  top: 0;
  margin-top: 108px;
  left: 13px;
  z-index: 2;
}
.PLANET h1 {
  position: absolute;
  color: #FFFFFF;
  font-size: 22px;
  top: 0;
  margin-top: 168px;
  left: 20px;
  height: 28px;
  width: 126px;
  font-family: 'Muli', sans-serif;
  font-weight: bold;
  z-index: 2;
}
.FRIENDLY h1 {
  position: absolute;
  color: #FFFFFF;
  font-size: 22px;
  top: 0;
  margin-top: 206px;
  left: 26px;
  height: 28px;
  width: 161px;
  font-family: 'Muli', sans-serif;
  font-weight: bold;
  z-index: 2;
}
.MATERIALS h1 {
  position: absolute;
  color: #FFFFFF;
  font-size: 22px;
  top: 0;
  margin-top: 244px;
  left: 40px;
  height: 28px;
  width: 185px;
  font-family: 'Muli', sans-serif;
  font-weight: bold;
  z-index: 2;
}
.p03polyester {
  position: absolute;
  top: 0;
  margin-top: 309px;
  margin-left: 79px;
  width: 212px;
  height: 43px;
  z-index: 2;
}
.p03tencel {
  position: absolute;
  top: 0;
  margin-top: 366px;
  margin-left: 133px;
  width: 191px;
  height: 43px;
  z-index: 2;
}
.p03cotton {
  position: absolute;
  top: 0;
  margin-top: 429px;
  margin-left: 177px;
  width: 186px;
  height: 43px;
  z-index: 2;
}
.p03bottomdiffcol {
  position: absolute;
  top: 0;
  margin-top: 580px;
}
.p03maskin {
  position: absolute;
  top: 0;
  margin-top: 40px;
  margin-left: 188px;
}
.p03tyg {
  position: absolute;
  top: 0;
  margin-top: 492px;
  margin-left: 23px;
  z-index: 2;
}
/*Albert har lagt till*/
.desktop {
  display: none;
}
.change2 {
  display: none;
}
.lefttriange04{
  top: 0;
  position: absolute;
  z-index: 1
}
.leftborder {
  top: 0;
  margin-top: 440px;
  position: absolute;
}
.textborder {
  top: 0;
  position: absolute;
  margin-top: 520px;
  z-index: 10;
  color: orange;
}
.fashion {
  color: #F5A623;
  position: absolute;
  left: 40px;
  top: 524px;
  font-family: 'Muli', sans-serif;
  font-weight: 600;
  font-size: 22px;
  z-index: 11;
}
.textblock{
  position: absolute;
  top: 561px;
  z-index: 1;
}
.blocktext {
  color: black;
  position: absolute;
  left: 12px;
  top: 570px;
  font-family: 'Muli', sans-serif;
  font-size: 19px;
  z-index: 2;
  width: 288px;
  height: 48px;
  line-height: normal;
  text-align: left;
}
.rectangletop {
  position: absolute;
  z-index: 0;
}
.model04 {
  position: absolute;
  background-image: url(../Images/model04.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  top: 103px;
  height: 564px;
  width: 378px;
}
}
