body {
  background-repeat: no-repeat no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0;
  color: white;
}

h1, h2, h3, h4, {
  margin: 0;
}

.container {
  background-repeat: no-repeat no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Muli', sans-serif;
}

.page-1 {
  background-image: url(../Images/forest.jpg);
}

.page-2 {
  background-image: url(../Images/forest2.jpeg);
}

.page-3 {
  background-image: url(../Images/forest.jpg);
}

.container h1 {
  font-size: 7vw;
  text-align: center;
  font-weight: bold;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 4vh;
}

.container .change {
  font-size: 9vw;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.conscious {
  border: 2px white solid;
  margin: auto;
  padding: 2vh;
  display: flex;
  flex-direction: column;
}

.conscious h2 {
  font-size: 3vw;
  font-weight: lighter;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: 2vw;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.conscious h3 {
  font-size: 1vw;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: 0.64vw;
}

.we-are-the-change {
  display: flex;
  flex-direction: column;
  margin-top: 12vh;
}

.tri-right {
  position: fixed;
  top: 0;
  right: 0;
  width: 0px;
  height: 0px;
  border-bottom: 100vh solid #DED2C6  ;
  border-left: 50vw solid transparent;
}

.tri-left {
  position: fixed;
  top: 0;
  left: 0;
  width: 0px;
  height: 0px;
  border-bottom: 100vh solid #3D2D39;
  border-right: 50vw solid transparent;
}
.tri-top {
  position: fixed;
  top: 0;
  left: 2.5vw;
  width: 0;
	height: 0;
	border-left: 47.5vw solid transparent;
	border-right: 47.5vw solid transparent;
	border-top: 95vh solid rgba(255, 255, 255, 0.2);
}

.tri-left-page-2 {
  position: fixed;
  margin-top: 0;
  left: 0;
  width: 0px;
  height: 0px;
  border-top: 100vh solid #3D2D39;
  border-right: 50vw solid transparent;
}

@keyframes example {
    from {transform: ;}
    to {background-color: #DED2C6;}
}
