


html, body {
  margin:0;
  padding: 0;
}
    body {
        background-color: white;
    }
#change, h1 {
    font-size: 48px;
    font-style: bold;
    text-align: center;
    line-height: 25px;
    letter-spacing: 1px;
    font-family: 'Muli', sans-serif;
    color: #FAFAFB;
    z-index: 10;

  }
  .change1 {
    letter-spacing: 4px;
    z-index: 10;

  }
#change {
  margin-top: 63px;
  position: relative;
  z-index: 10;
}
h2 {
  font-family: 'Muli', sans-serif;
  font-style: bold;
  line-height: 0px;
  text-align: center;
  font-size: 22px;
  color: #FAFAFB;
}
#counscious, p {
  font-family: 'Muli', sans-serif;
  font-style: bold;
  line-height: 0px;
  text-align: center;
  font-size: 7px;
  letter-spacing: 16.67%;
  color: #FAFAFB;
  z-index: 10;

}
#counscious {
  border: 1px solid #F0F0F0;
  display: block;
  width: 158px;
  height: 50px;
  margin: 0 auto;
  z-index: 10;
  position: relative;
  margin-top: 87px;
}
#container {
  display: block;
  max-width: 375px;
  height: auto;
}
@-webkit-keyframes bounce {
            0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
            40% {-webkit-transform: translateY(17px);}

         }

         @keyframes bounce {
            0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
            40% {transform: translateY(17px);}

         }
.transparentoverlay {
  position: absolute;
  z-index: 2;
  top: 0;
  -webkit-animation-duration: 3.6s;
            animation-duration: 3.6s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
            animation-delay: 2s;
            animation-iteration-count: infinite;
}
.bounce {
            -webkit-animation-name: bounce;
            animation-name: bounce;
         }
.triangle1 {
  position: absolute;
  top: 0;
  margin-top: 150px;

}
.dark {
z-index: 0;
}
.light {
  right: 0;
}
.modelphoto {

width: 100%;
height: 448px;
left: 0px;

background-image: url(../Images/model.jpg);
background-repeat: no-repeat;
z-index: 29;
background-position: center;
background-size: cover;
max-width: 375px;

}
.forest {
  position: absolute;
  width: 100%;
  height: 492px;
  top: 0;
  background-image: url(../Images/treeforest.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 375px;
}
.brownbackground {
  position: absolute;
  margin-top: 880.32px;
  top: 0;
  width: 100%;
}
.greytriangle {
  position: absolute;
  top: 0;
  margin-top: 1242px;
  z-index: 11;
}
.thrivelogo {
position: relative;
top: 0;
padding-top: 50px;

z-index: 250;
}
.thrivetext {

  margin-top: 16.5px;
margin-left: 97px;

}
.thrivelogo1 {
margin-left: 92px;



}

.quote h1 {

left: 0;
right: 0;
text-align: center;
margin-top: 122.5px;
color: #E8D0C6;
z-index: 10;

}
.recyclingmachine1 {
  position: absolute;
  top: 0;
  margin-top: 1617px;
  margin-left: 18px;
  z-index: 12;
}
.Recyclingmachine h1 {
  position: absolute;
  top: 0;
  margin-top: 1827px;
  left: 0;
  margin-left: 117px;
  color: white;
  font-size: 16px;
  font-family: 'Muli', sans-serif;
  font-style: bold;
  line-height: 20px;
  text-align: left;
  display: block;
  margin-right: 23px;
  letter-spacing: 0;
  z-index: 12;
}
.plasticbottle {
  position: absolute;
  top: 0;
margin-top: 1899px;
margin-left: 20px;
z-index: 12;
}
.plastic {
  position: absolute;
  top: 0;
  margin-top: 1923px;
  margin-left: 98px;
z-index: 12;
}
.sewingthread {
  position: absolute;
  top: 0;
  margin-top: 1912px;
  margin-left: 188px;
  z-index: 12;
}
.section {
  height: 100vh;
}
.line {
  /* Line */

position: absolute;
width: 167.38px;
height: 0px;
margin-left: 113.62px;
top: 0;
margin-top: 1334px;

border: 3px solid #000000;

}
#section2 {

}
